*{
    margin: 0px;
    box-sizing: border-box;
}
.row{
    height:150px;
    width: 100%;
    border: 1px solid black;
    display: flex;
}
.col{
    display: flex;
    border: 2px solid black;
    height: 100%;
    width: 33.3%;
    flex-grow: 1;
}
.col1{
    border: 2px solid black;
    height:100%;
    width: 50%;
}
.col1a{
    border: 1px solid black;
    height: 50%;
    width: 100%;
}
.col1b{
    border: 1px solid black;
    height: 100%;
    width: 50%;
}