*{
    box-sizing: border-box;
    margin: 0px;
}
.form{
    height: 627px;
    width: 100%;
    background-color: #ebf2fb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outform{
    height:90%;
    width: 70%;
    border-radius: 8px;
    display: flex;
    justify-content: right;
    background-color: #f6838b;
}
.inform{
    height:90%;
    width: 50%;
    margin:30px;
    border-radius: 8px;
    background-color:  #4f5561;
    

}
input{
    width: 45%;
    height: 8%;
    margin: 10px;
    border-radius: 8px;
    margin-top: 40px;
    
}
textarea{
    margin: 5px;
    border-radius: 8px;
    margin-top: 40px;
}
a>img{
    width: 100%;
    height: 100%;
}